html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big,
cite, code, del, dfn, em, font, img,
ins, kbd, q, s, samp, small, strike,
strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
center, u, b, i {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: normal;
    font-style: normal;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline
}
body {
    background-color: #f5f5f5;
    line-height: 1;
    font-family: PingFangSC-Regular,Arial, "Helvetica Neue", Helvetica, sans-serif;
}
:focus {
    outline: 0
}
ol, ul {
    list-style: none
}
table {
    border-collapse: collapse;
    border-spacing: 0
}
blockquote:before, blockquote:after, q:before, q:after {
    content: ""
}
blockquote, q {
    quotes: ""
}
input, textarea {
    margin: 0;
    padding: 0
}
hr {
    margin: 0;
    padding: 0;
    border: 0;
    color: #000;
    background-color: #000;
    height: 1px
}
a {
  text-decoration: none;
}
/*轮播图指示点的自定义样式 - 暂时放这了*/
.swiper-pagination-bullets {
  width: 100%;
  position: absolute;
  bottom: 20px!important;
  line-height: 0;
  .swiper-pagination-bullet {
    width: 14px;
    height: 14px;
    background: url('//m.jr.jd.com/spe/qyy/main/images/banner_point.png') center center;
    background-size: 14px 14px;
    margin: 0 5px;
  }
  .swiper-pagination-bullet-active {
    background: url('//m.jr.jd.com/spe/qyy/main/images/banner_point_cur.png') center center;
    background-size: 14px 14px;
  }
}